* {
    box-sizing: border-box;
}
/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Libre Baskerville', serif;

Colors: 
#05F2F2 bright teal
#05DBF2 light blue
#049DD9 blue
#6683D9 dark pastel blue
#732658 purplish*/

body {
    background-color: #222;
    color: white;
    font-family: 'Playfair Display', serif;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-family: 'Libre Baskerville', serif;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}