// Our SCSS Variables
// Fonts
$fontBody: 'Open Sans', sans-serif;
$fontTitle: 'Libre Baskerville', serif;

// Colors (not sure what the primary / secondary will be yet)
$teal: #05F2F2;
$light-blue: #05DBF2;
$blue: #049DD9;
$dark-blue: #6683D9;
$purple: #732658;
$black: #222;
$white: white;

