@import './variables';
@import './header';
@import './portfolio';
@import './contact';
@import './about';

*{
    box-sizing: border-box;
}

body {
    background-color: $black;
    color: $white;
    height: 100%;
}

h1 {
    font-family: $fontTitle;
    margin-top: 60px;
}

h2 {
    color: $purple;
    text-shadow: 1px 1px 1px #000;
}

h2, a, p, button {
    font-family: $fontBody;
    color: $white;
    line-height: 1.5;
}


footer {
    font-size: 2rem;
    margin-top: 5rem;
    text-align: center;
    i {
      margin-left: 35px;
      margin-right: 35px
    }
}

a:hover {
    color: $teal;
}

.hidden {
    display: none;
}

.index-container {
    @include flex(row, flex-start);

    img {
        display: none;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}
/* This holds our H1 and H2 on the main page*/
.text-zone {
    padding-left: 4rem;
}

.main-contact-button {
    border: 2px solid $teal;
    color: $teal;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    margin-top: 1rem;

    &:hover {
        color: $black;
        background-color: $teal;
    }
}

@media screen and (min-width: 640px) {

    #mobile-nav-hamburger::before {
        display: none;
    }

    .hidden {
        display: inline;
    }

    .nav-bar {
        @include flex(row, space-evenly);

    }
}

@media screen and (min-width: 1200px) {
    
    .nav-bar{
        i {
            display: none;
        }

        span {
            display: inline;
            text-decoration: underline;
        }
    }



    .about-container {

        width: 500px;
        img {
            border-radius: 50%;
            width: 66%;
        }
    
    }

    .index-container{
        img{
            display: block;
            width: 400px;
            height: 400px;
        }
    }
}