@import './variables';

*{
    box-sizing: border-box;
}

body {
    background-color: $black;
    color: $white;
}

h1 {
    font-family: $fontTitle;
}

h2 {
    font-family: $fontBody;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $purple;
}
#logo-image {
    width: 50px;
}

#logo-name {
    color: $white;
}

#logo-background {
    background-color: $black;
}

#mobile-nav-hamburger {
    font-size: 2rem;
}