@import './variables';
@import './header';
@import './portfolio';
@import './contact';
@import './about';

*{
    box-sizing: border-box;
}

body {
    background-color: $black;
    color: $white;
}

h1 {
    font-family: $fontTitle;
}

h2 {
    color: $purple;
    text-shadow: 1px 1px 1px #000;
}

h2, a, p, button {
    font-family: $fontBody;
    color: $white;
}

footer {
    @include flex(row, space-evenly);
    font-size: 2rem;
    margin-top: 5rem;
}

a:hover {
    color: $teal;
}

.hidden {
    display: none;
}

/* This holds our H1 and H2 on the main page*/
.text-zone {
    padding-left: 4rem;
}

.main-contact-button {
    border: 2px solid $teal;
    color: $teal;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    margin-top: 1rem;

    &:hover {
        color: $black;
        background-color: $teal;
    }
}